<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2022 DB Netz AG and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v20.html
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.PlanPro.presentation.PlanProModelWizardID"
            name="%_UI_PlanProModelWizard_label"
            class="org.eclipse.set.toolboxmodel.PlanPro.presentation.PlanProModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PlanProModelFile.gif">
         <description>%_UI_PlanProModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.PlanPro.presentation.PlanProEditorID"
            name="%_UI_PlanProEditor_label"
            icon="icons/full/obj16/PlanProModelFile.gif"
            extensions="planpro"
            class="org.eclipse.set.toolboxmodel.PlanPro.presentation.PlanProEditor"
            contributorClass="org.eclipse.set.toolboxmodel.PlanPro.presentation.PlanProActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Basisobjekte.presentation.BasisobjekteModelWizardID"
            name="%_UI_BasisobjekteModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Basisobjekte.presentation.BasisobjekteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BasisobjekteModelFile.gif">
         <description>%_UI_BasisobjekteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Basisobjekte.presentation.BasisobjekteEditorID"
            name="%_UI_BasisobjekteEditor_label"
            icon="icons/full/obj16/BasisobjekteModelFile.gif"
            extensions="basisobjekte"
            class="org.eclipse.set.toolboxmodel.Basisobjekte.presentation.BasisobjekteEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Basisobjekte.presentation.BasisobjekteActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.BasisTypen.presentation.BasisTypenModelWizardID"
            name="%_UI_BasisTypenModelWizard_label"
            class="org.eclipse.set.toolboxmodel.BasisTypen.presentation.BasisTypenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BasisTypenModelFile.gif">
         <description>%_UI_BasisTypenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.BasisTypen.presentation.BasisTypenEditorID"
            name="%_UI_BasisTypenEditor_label"
            icon="icons/full/obj16/BasisTypenModelFile.gif"
            extensions="basistypen"
            class="org.eclipse.set.toolboxmodel.BasisTypen.presentation.BasisTypenEditor"
            contributorClass="org.eclipse.set.toolboxmodel.BasisTypen.presentation.BasisTypenActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Ansteuerung_Element.presentation.Ansteuerung_ElementModelWizardID"
            name="%_UI_Ansteuerung_ElementModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Ansteuerung_Element.presentation.Ansteuerung_ElementModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ansteuerung_ElementModelFile.gif">
         <description>%_UI_Ansteuerung_ElementModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Ansteuerung_Element.presentation.Ansteuerung_ElementEditorID"
            name="%_UI_Ansteuerung_ElementEditor_label"
            icon="icons/full/obj16/Ansteuerung_ElementModelFile.gif"
            extensions="ansteuerung_element"
            class="org.eclipse.set.toolboxmodel.Ansteuerung_Element.presentation.Ansteuerung_ElementEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Ansteuerung_Element.presentation.Ansteuerung_ElementActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Bahnsteig.presentation.BahnsteigModelWizardID"
            name="%_UI_BahnsteigModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Bahnsteig.presentation.BahnsteigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BahnsteigModelFile.gif">
         <description>%_UI_BahnsteigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Bahnsteig.presentation.BahnsteigEditorID"
            name="%_UI_BahnsteigEditor_label"
            icon="icons/full/obj16/BahnsteigModelFile.gif"
            extensions="bahnsteig"
            class="org.eclipse.set.toolboxmodel.Bahnsteig.presentation.BahnsteigEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Bahnsteig.presentation.BahnsteigActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.presentation.Balisentechnik_ETCSModelWizardID"
            name="%_UI_Balisentechnik_ETCSModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.presentation.Balisentechnik_ETCSModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Balisentechnik_ETCSModelFile.gif">
         <description>%_UI_Balisentechnik_ETCSModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.presentation.Balisentechnik_ETCSEditorID"
            name="%_UI_Balisentechnik_ETCSEditor_label"
            icon="icons/full/obj16/Balisentechnik_ETCSModelFile.gif"
            extensions="balisentechnik_etcs"
            class="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.presentation.Balisentechnik_ETCSEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.presentation.Balisentechnik_ETCSActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Bedienung.presentation.BedienungModelWizardID"
            name="%_UI_BedienungModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Bedienung.presentation.BedienungModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BedienungModelFile.gif">
         <description>%_UI_BedienungModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Bedienung.presentation.BedienungEditorID"
            name="%_UI_BedienungEditor_label"
            icon="icons/full/obj16/BedienungModelFile.gif"
            extensions="bedienung"
            class="org.eclipse.set.toolboxmodel.Bedienung.presentation.BedienungEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Bedienung.presentation.BedienungActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Block.presentation.BlockModelWizardID"
            name="%_UI_BlockModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Block.presentation.BlockModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BlockModelFile.gif">
         <description>%_UI_BlockModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Block.presentation.BlockEditorID"
            name="%_UI_BlockEditor_label"
            icon="icons/full/obj16/BlockModelFile.gif"
            extensions="block"
            class="org.eclipse.set.toolboxmodel.Block.presentation.BlockEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Block.presentation.BlockActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Bahnuebergang.presentation.BahnuebergangModelWizardID"
            name="%_UI_BahnuebergangModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Bahnuebergang.presentation.BahnuebergangModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BahnuebergangModelFile.gif">
         <description>%_UI_BahnuebergangModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Bahnuebergang.presentation.BahnuebergangEditorID"
            name="%_UI_BahnuebergangEditor_label"
            icon="icons/full/obj16/BahnuebergangModelFile.gif"
            extensions="bahnuebergang"
            class="org.eclipse.set.toolboxmodel.Bahnuebergang.presentation.BahnuebergangEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Bahnuebergang.presentation.BahnuebergangActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Flankenschutz.presentation.FlankenschutzModelWizardID"
            name="%_UI_FlankenschutzModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Flankenschutz.presentation.FlankenschutzModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FlankenschutzModelFile.gif">
         <description>%_UI_FlankenschutzModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Flankenschutz.presentation.FlankenschutzEditorID"
            name="%_UI_FlankenschutzEditor_label"
            icon="icons/full/obj16/FlankenschutzModelFile.gif"
            extensions="flankenschutz"
            class="org.eclipse.set.toolboxmodel.Flankenschutz.presentation.FlankenschutzEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Flankenschutz.presentation.FlankenschutzActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Ortung.presentation.OrtungModelWizardID"
            name="%_UI_OrtungModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Ortung.presentation.OrtungModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OrtungModelFile.gif">
         <description>%_UI_OrtungModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Ortung.presentation.OrtungEditorID"
            name="%_UI_OrtungEditor_label"
            icon="icons/full/obj16/OrtungModelFile.gif"
            extensions="ortung"
            class="org.eclipse.set.toolboxmodel.Ortung.presentation.OrtungEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Ortung.presentation.OrtungActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Fahrstrasse.presentation.FahrstrasseModelWizardID"
            name="%_UI_FahrstrasseModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Fahrstrasse.presentation.FahrstrasseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FahrstrasseModelFile.gif">
         <description>%_UI_FahrstrasseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Fahrstrasse.presentation.FahrstrasseEditorID"
            name="%_UI_FahrstrasseEditor_label"
            icon="icons/full/obj16/FahrstrasseModelFile.gif"
            extensions="fahrstrasse"
            class="org.eclipse.set.toolboxmodel.Fahrstrasse.presentation.FahrstrasseEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Fahrstrasse.presentation.FahrstrasseActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Geodaten.presentation.GeodatenModelWizardID"
            name="%_UI_GeodatenModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Geodaten.presentation.GeodatenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GeodatenModelFile.gif">
         <description>%_UI_GeodatenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Geodaten.presentation.GeodatenEditorID"
            name="%_UI_GeodatenEditor_label"
            icon="icons/full/obj16/GeodatenModelFile.gif"
            extensions="geodaten"
            class="org.eclipse.set.toolboxmodel.Geodaten.presentation.GeodatenEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Geodaten.presentation.GeodatenActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.presentation.Weichen_und_GleissperrenModelWizardID"
            name="%_UI_Weichen_und_GleissperrenModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.presentation.Weichen_und_GleissperrenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Weichen_und_GleissperrenModelFile.gif">
         <description>%_UI_Weichen_und_GleissperrenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.presentation.Weichen_und_GleissperrenEditorID"
            name="%_UI_Weichen_und_GleissperrenEditor_label"
            icon="icons/full/obj16/Weichen_und_GleissperrenModelFile.gif"
            extensions="weichen_und_gleissperren"
            class="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.presentation.Weichen_und_GleissperrenEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.presentation.Weichen_und_GleissperrenActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Gleis.presentation.GleisModelWizardID"
            name="%_UI_GleisModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Gleis.presentation.GleisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GleisModelFile.gif">
         <description>%_UI_GleisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Gleis.presentation.GleisEditorID"
            name="%_UI_GleisEditor_label"
            icon="icons/full/obj16/GleisModelFile.gif"
            extensions="gleis"
            class="org.eclipse.set.toolboxmodel.Gleis.presentation.GleisEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Gleis.presentation.GleisActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Medien_und_Trassen.presentation.Medien_und_TrassenModelWizardID"
            name="%_UI_Medien_und_TrassenModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Medien_und_Trassen.presentation.Medien_und_TrassenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Medien_und_TrassenModelFile.gif">
         <description>%_UI_Medien_und_TrassenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Medien_und_Trassen.presentation.Medien_und_TrassenEditorID"
            name="%_UI_Medien_und_TrassenEditor_label"
            icon="icons/full/obj16/Medien_und_TrassenModelFile.gif"
            extensions="medien_und_trassen"
            class="org.eclipse.set.toolboxmodel.Medien_und_Trassen.presentation.Medien_und_TrassenEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Medien_und_Trassen.presentation.Medien_und_TrassenActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Nahbedienbereich.presentation.NahbedienbereichModelWizardID"
            name="%_UI_NahbedienbereichModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Nahbedienbereich.presentation.NahbedienbereichModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NahbedienbereichModelFile.gif">
         <description>%_UI_NahbedienbereichModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Nahbedienbereich.presentation.NahbedienbereichEditorID"
            name="%_UI_NahbedienbereichEditor_label"
            icon="icons/full/obj16/NahbedienbereichModelFile.gif"
            extensions="nahbedienbereich"
            class="org.eclipse.set.toolboxmodel.Nahbedienbereich.presentation.NahbedienbereichEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Nahbedienbereich.presentation.NahbedienbereichActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.PZB.presentation.PZBModelWizardID"
            name="%_UI_PZBModelWizard_label"
            class="org.eclipse.set.toolboxmodel.PZB.presentation.PZBModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PZBModelFile.gif">
         <description>%_UI_PZBModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.PZB.presentation.PZBEditorID"
            name="%_UI_PZBEditor_label"
            icon="icons/full/obj16/PZBModelFile.gif"
            extensions="pzb"
            class="org.eclipse.set.toolboxmodel.PZB.presentation.PZBEditor"
            contributorClass="org.eclipse.set.toolboxmodel.PZB.presentation.PZBActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Regelzeichnung.presentation.RegelzeichnungModelWizardID"
            name="%_UI_RegelzeichnungModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Regelzeichnung.presentation.RegelzeichnungModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RegelzeichnungModelFile.gif">
         <description>%_UI_RegelzeichnungModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Regelzeichnung.presentation.RegelzeichnungEditorID"
            name="%_UI_RegelzeichnungEditor_label"
            icon="icons/full/obj16/RegelzeichnungModelFile.gif"
            extensions="regelzeichnung"
            class="org.eclipse.set.toolboxmodel.Regelzeichnung.presentation.RegelzeichnungEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Regelzeichnung.presentation.RegelzeichnungActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.presentation.SchluesselabhaengigkeitenModelWizardID"
            name="%_UI_SchluesselabhaengigkeitenModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.presentation.SchluesselabhaengigkeitenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SchluesselabhaengigkeitenModelFile.gif">
         <description>%_UI_SchluesselabhaengigkeitenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.presentation.SchluesselabhaengigkeitenEditorID"
            name="%_UI_SchluesselabhaengigkeitenEditor_label"
            icon="icons/full/obj16/SchluesselabhaengigkeitenModelFile.gif"
            extensions="schluesselabhaengigkeiten"
            class="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.presentation.SchluesselabhaengigkeitenEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.presentation.SchluesselabhaengigkeitenActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Signale.presentation.SignaleModelWizardID"
            name="%_UI_SignaleModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Signale.presentation.SignaleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SignaleModelFile.gif">
         <description>%_UI_SignaleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Signale.presentation.SignaleEditorID"
            name="%_UI_SignaleEditor_label"
            icon="icons/full/obj16/SignaleModelFile.gif"
            extensions="signale"
            class="org.eclipse.set.toolboxmodel.Signale.presentation.SignaleEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Signale.presentation.SignaleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Zuglenkung.presentation.ZuglenkungModelWizardID"
            name="%_UI_ZuglenkungModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Zuglenkung.presentation.ZuglenkungModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ZuglenkungModelFile.gif">
         <description>%_UI_ZuglenkungModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Zuglenkung.presentation.ZuglenkungEditorID"
            name="%_UI_ZuglenkungEditor_label"
            icon="icons/full/obj16/ZuglenkungModelFile.gif"
            extensions="zuglenkung"
            class="org.eclipse.set.toolboxmodel.Zuglenkung.presentation.ZuglenkungEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Zuglenkung.presentation.ZuglenkungActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.presentation.ZugnummernmeldeanlageModelWizardID"
            name="%_UI_ZugnummernmeldeanlageModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.presentation.ZugnummernmeldeanlageModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ZugnummernmeldeanlageModelFile.gif">
         <description>%_UI_ZugnummernmeldeanlageModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.presentation.ZugnummernmeldeanlageEditorID"
            name="%_UI_ZugnummernmeldeanlageEditor_label"
            icon="icons/full/obj16/ZugnummernmeldeanlageModelFile.gif"
            extensions="zugnummernmeldeanlage"
            class="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.presentation.ZugnummernmeldeanlageEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.presentation.ZugnummernmeldeanlageActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.presentation.Signalbegriffe_Ril_301ModelWizardID"
            name="%_UI_Signalbegriffe_Ril_301ModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.presentation.Signalbegriffe_Ril_301ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Signalbegriffe_Ril_301ModelFile.gif">
         <description>%_UI_Signalbegriffe_Ril_301ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.presentation.Signalbegriffe_Ril_301EditorID"
            name="%_UI_Signalbegriffe_Ril_301Editor_label"
            icon="icons/full/obj16/Signalbegriffe_Ril_301ModelFile.gif"
            extensions="signalbegriffe_ril_301"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.presentation.Signalbegriffe_Ril_301Editor"
            contributorClass="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.presentation.Signalbegriffe_Ril_301ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PlanPro -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.set.toolboxmodel.Verweise.presentation.VerweiseModelWizardID"
            name="%_UI_VerweiseModelWizard_label"
            class="org.eclipse.set.toolboxmodel.Verweise.presentation.VerweiseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VerweiseModelFile.gif">
         <description>%_UI_VerweiseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PlanPro -->
      <editor
            id="org.eclipse.set.toolboxmodel.Verweise.presentation.VerweiseEditorID"
            name="%_UI_VerweiseEditor_label"
            icon="icons/full/obj16/VerweiseModelFile.gif"
            extensions="verweise"
            class="org.eclipse.set.toolboxmodel.Verweise.presentation.VerweiseEditor"
            contributorClass="org.eclipse.set.toolboxmodel.Verweise.presentation.VerweiseActionBarContributor">
      </editor>
   </extension>

</plugin>
