<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 /**
 Copyright (c) 2023 DB Netz AG and others.
  
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v20.html
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Layoutinformationen/toolbox"
            class="org.eclipse.set.toolboxmodel.Layoutinformationen.LayoutinformationenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="layoutinformationen"
            class="org.eclipse.set.toolboxmodel.Layoutinformationen.util.LayoutinformationenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
            class="org.eclipse.set.toolboxmodel.Basisobjekte.BasisobjektePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="basisobjekte"
            class="org.eclipse.set.toolboxmodel.Basisobjekte.util.BasisobjekteResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/BasisTypen/toolbox"
            class="org.eclipse.set.toolboxmodel.BasisTypen.BasisTypenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="basistypen"
            class="org.eclipse.set.toolboxmodel.BasisTypen.util.BasisTypenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Geodaten/toolbox"
            class="org.eclipse.set.toolboxmodel.Geodaten.GeodatenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="geodaten"
            class="org.eclipse.set.toolboxmodel.Geodaten.util.GeodatenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/PlanPro/toolbox"
            class="org.eclipse.set.toolboxmodel.PlanPro.PlanProPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="planpro"
            class="org.eclipse.set.toolboxmodel.PlanPro.util.PlanProResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/ATO/toolbox"
            class="org.eclipse.set.toolboxmodel.ATO.ATOPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ato"
            class="org.eclipse.set.toolboxmodel.ATO.util.ATOResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
            class="org.eclipse.set.toolboxmodel.Ansteuerung_Element.Ansteuerung_ElementPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ansteuerung_element"
            class="org.eclipse.set.toolboxmodel.Ansteuerung_Element.util.Ansteuerung_ElementResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
            class="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.Balisentechnik_ETCSPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="balisentechnik_etcs"
            class="org.eclipse.set.toolboxmodel.Balisentechnik_ETCS.util.Balisentechnik_ETCSResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bedienung/toolbox"
            class="org.eclipse.set.toolboxmodel.Bedienung.BedienungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bedienung"
            class="org.eclipse.set.toolboxmodel.Bedienung.util.BedienungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signale/toolbox"
            class="org.eclipse.set.toolboxmodel.Signale.SignalePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signale"
            class="org.eclipse.set.toolboxmodel.Signale.util.SignaleResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Block/toolbox"
            class="org.eclipse.set.toolboxmodel.Block.BlockPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="block"
            class="org.eclipse.set.toolboxmodel.Block.util.BlockResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Ortung/toolbox"
            class="org.eclipse.set.toolboxmodel.Ortung.OrtungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ortung"
            class="org.eclipse.set.toolboxmodel.Ortung.util.OrtungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Gleis/toolbox"
            class="org.eclipse.set.toolboxmodel.Gleis.GleisPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="gleis"
            class="org.eclipse.set.toolboxmodel.Gleis.util.GleisResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
            class="org.eclipse.set.toolboxmodel.Bahnsteig.BahnsteigPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bahnsteig"
            class="org.eclipse.set.toolboxmodel.Bahnsteig.util.BahnsteigResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
            class="org.eclipse.set.toolboxmodel.Fahrstrasse.FahrstrassePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="fahrstrasse"
            class="org.eclipse.set.toolboxmodel.Fahrstrasse.util.FahrstrasseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
            class="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.Weichen_und_GleissperrenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="weichen_und_gleissperren"
            class="org.eclipse.set.toolboxmodel.Weichen_und_Gleissperren.util.Weichen_und_GleissperrenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
            class="org.eclipse.set.toolboxmodel.Regelzeichnung.RegelzeichnungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="regelzeichnung"
            class="org.eclipse.set.toolboxmodel.Regelzeichnung.util.RegelzeichnungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/PZB/toolbox"
            class="org.eclipse.set.toolboxmodel.PZB.PZBPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="pzb"
            class="org.eclipse.set.toolboxmodel.PZB.util.PZBResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
            class="org.eclipse.set.toolboxmodel.Bahnuebergang.BahnuebergangPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bahnuebergang"
            class="org.eclipse.set.toolboxmodel.Bahnuebergang.util.BahnuebergangResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Struktur.Signalbegriffe_StrukturPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signalbegriffe_struktur"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Struktur.util.Signalbegriffe_StrukturResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
            class="org.eclipse.set.toolboxmodel.Flankenschutz.FlankenschutzPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="flankenschutz"
            class="org.eclipse.set.toolboxmodel.Flankenschutz.util.FlankenschutzResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
            class="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.SchluesselabhaengigkeitenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="schluesselabhaengigkeiten"
            class="org.eclipse.set.toolboxmodel.Schluesselabhaengigkeiten.util.SchluesselabhaengigkeitenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
            class="org.eclipse.set.toolboxmodel.Medien_und_Trassen.Medien_und_TrassenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="medien_und_trassen"
            class="org.eclipse.set.toolboxmodel.Medien_und_Trassen.util.Medien_und_TrassenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Nahbedienung/toolbox"
            class="org.eclipse.set.toolboxmodel.Nahbedienung.NahbedienungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="nahbedienung"
            class="org.eclipse.set.toolboxmodel.Nahbedienung.util.NahbedienungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
            class="org.eclipse.set.toolboxmodel.Zuglenkung.ZuglenkungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="zuglenkung"
            class="org.eclipse.set.toolboxmodel.Zuglenkung.util.ZuglenkungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
            class="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.ZugnummernmeldeanlagePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="zugnummernmeldeanlage"
            class="org.eclipse.set.toolboxmodel.Zugnummernmeldeanlage.util.ZugnummernmeldeanlageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.Signalbegriffe_Ril_301Package"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signalbegriffe_ril_301"
            class="org.eclipse.set.toolboxmodel.Signalbegriffe_Ril_301.util.Signalbegriffe_Ril_301ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Verweise/toolbox"
            class="org.eclipse.set.toolboxmodel.Verweise.VerweisePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="verweise"
            class="org.eclipse.set.toolboxmodel.Verweise.util.VerweiseResourceFactoryImpl"/>
   </extension>

</plugin>
