<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="org.eclipse.set.toolboxmodel.releng.target" sequenceNumber="1662097700">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1400.v20221123-1800"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.30.0.v20221121-1400"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.platform.sdk" version="4.26.0.I20221123-1800"/>
      <unit id="org.eclipse.net4j.util.feature.group" version="4.20.0.v20221123-1721"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.600.v20221116-1440"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.26.0.I20221123-1800"/>
      <unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
      <unit id="junit-jupiter-api" version="5.9.1" />
      <unit id="junit-jupiter-engine" version="5.9.1" />
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <repository location="https://download.eclipse.org/releases/2022-12/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.set.model.model11001.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.set.model.model11001.feature.source.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/set/snapshots/model/main/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xtend.lib" version="2.27.0.v20220530-0353"/>
      <unit id="org.eclipse.xtend.lib.macro" version="2.27.0.v20220530-0353"/>
      <unit id="org.eclipse.xtend.lib.macro.source" version="2.27.0.v20220530-0353"/>
      <unit id="org.eclipse.xtend.lib.source" version="2.27.0.v20220530-0353"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.27.0.v20220530-0508"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.27.0.v20220530-0353"/>
      <unit id="org.eclipse.xtext.xbase.lib.source" version="2.27.0.v20220530-0353"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.27.0/"/>
    </location>
  </locations>
</target>
