# This workflow will build the toolbox model and publish it to GitHub Packages

name: Build toolbox model

on: [push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
      
    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: eclipse-set/build/.github/actions/setup-java@main

    - name: Build
      run: mvn -T 1.5C -B clean verify
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Publish
      run: mvn -T 1.5C -B deploy -DaltDeploymentRepository=set-github::https://maven.pkg.github.com/${{ github.repository }}
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@e22cb89252eed6924b77cf94ec9d7776e0d2bc0d # v2.15.0
      if: always()
      with:
        files: |
          ${{ github.workspace }}/**/surefire-reports/*.xml

    - name: Trigger SET
      if: github.ref == 'refs/heads/main' && github.repository_owner == 'eclipse-set'
      uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
      with:
        token: ${{ secrets.GH_BOT_TOKEN  }}
        repository: eclipse-set/set
        event-type: "Rebuild with toolboxmodel update ${{ github.run_number }}"
